<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839102697118-bege9qc6qv4l7pgv60jdribt3dc64us7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839102697118-bege9qc6qv4l7pgv60jdribt3dc64us7</string>
	<key>API_KEY</key>
	<string>AIzaSyAM_uKDOm18evqON1KmxLFIf3AFMFft1Hc</string>
	<key>GCM_SENDER_ID</key>
	<string>839102697118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Plugin.FirebasePushNotification</string>
	<key>PROJECT_ID</key>
	<string>thesocialgame-338418</string>
	<key>STORAGE_BUCKET</key>
	<string>thesocialgame-338418.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839102697118:ios:348226b2c6aa76563ef58f</string>
</dict>
</plist>