<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<configSections>
        <sectionGroup name="applicationSettings" 
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >

            <section name="TheSocialGame.Properties.Settings" 
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
                     requirePermission="false" />

        </sectionGroup>
    </configSections>
	<appSettings>
		<add key="connectString" value="User ID=db_read_write; Data Source=tcp:3.68.133.230,1433; Password="/>
		<add key="selectAPI" value="https://37ya358oo9.execute-api.eu-central-1.amazonaws.com/tsg-db-select-lambda?Username={0}" />
		<add key="insertAPI" value="https://xj1xoqdk17.execute-api.eu-central-1.amazonaws.com/tsg-db-insert-api" />
		<add key="deleteAPI" value="https://9qhwf581s5.execute-api.eu-central-1.amazonaws.com/tsg-db-delete?Username={0}" />
		<add key="updateAPI" value="https://xgnearydga.execute-api.eu-central-1.amazonaws.com/tsg-db-update" />
	</appSettings>
</configuration>