<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<configSections>
        <sectionGroup name="applicationSettings" 
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >

            <section name="TheSocialGame.Properties.Settings" 
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
                     requirePermission="false" />

        </sectionGroup>
    </configSections>
	<appSettings>
		<!-- API di test (da eliminare) -->
		<add key="selectAPItest" value="https://37ya358oo9.execute-api.eu-central-1.amazonaws.com/tsg-db-select-lambda?Username={0}" />
		<add key="insertAPItest" value="https://xj1xoqdk17.execute-api.eu-central-1.amazonaws.com/tsg-db-insert-api" />
		<add key="deleteAPItest" value="https://9qhwf581s5.execute-api.eu-central-1.amazonaws.com/tsg-db-delete?Username={0}" />
		<add key="updateAPItest" value="https://xgnearydga.execute-api.eu-central-1.amazonaws.com/tsg-db-update" />
		<!-- API vere -->
		<add key="insertUserAPI" value="https://vfnjaztfsi.execute-api.eu-central-1.amazonaws.com/tsg-insert-user"/>
		<add key="selectUserAPI" value="https://i4961o4zzj.execute-api.eu-central-1.amazonaws.com/tsg-select-user?ID={0}"/>
		<add key="selectUserByNameAPI" value="https://hgp37njfq8.execute-api.eu-central-1.amazonaws.com/tsg-select-user-by-name?Username={0}"/>
		<add key="selectBadgesAPI" value="https://c60742ibaa.execute-api.eu-central-1.amazonaws.com/tsg-select-badges?ID={0}"/>
		<add key="selectFriendsAPI" value="https://af425t3hli.execute-api.eu-central-1.amazonaws.com/tsg-select-friends?ID={0}"/>
		<add key="selectExperiencesAPI" value="https://bifrhrfo5f.execute-api.eu-central-1.amazonaws.com/tsg-select-experiences?ID={0}"/>
		<add key="selectExperienceInfoAPI" value="https://yiessq7b06.execute-api.eu-central-1.amazonaws.com/tsg-select-experience-related-info?ID={0}"/>
		<add key="deleteUserAPI" value="https://y6dne8bb31.execute-api.eu-central-1.amazonaws.com/tsg-delete-user"/>
	</appSettings>
</configuration>